body{
    background-color:black;
    font-family:sans-serif;
}
header{
    background-color:red;
    text-align:center;
}
#middleBar{
    background-color:black;
    color:white;
    font-size:30px;
    text-align:center;
}
.bottomHalf{
    background-color:white;
}
#equationInfo{
    text-align:center;
}
@media(max-width:600px){
    body{
        font-size:16px;
    }
    .flex-container{
        flex-direction:column;
        align-items:center;
    }
}